.icon {
	-o-object-fit: contain;
	object-fit: contain
}

.icon svg {
	width: 100%;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	fill: currentColor
}

button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	width: 1em;
	height: 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: .2em;
	font-size: var(--button-size);
	margin: var(--margin);
	border-radius: .05em;
	border: none;
	color: inherit;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-appearance: none;
	outline: none;
	opacity: .7;
	background: hsla(0, 0%, 100%, .2)
}

button.filelist {
	width: 100%
}

button.active,
button:hover {
	opacity: 1
}

button span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	line-height: 1;
	font-size: .6em
}

button svg {
	display: block;
	margin: 0;
	padding: 0;
	width: 1em;
	height: 1em
}

:root {
	--screen-width: 320px;
	--screen-height: 75vw;
	--screen-height: 240px;
	--title-height: calc(var(--screen-height)*0.1);
	--button-size: calc(var(--screen-height)*0.15);
	--margin: calc(var(--screen-height)*0.0125);
	--primary: #00629f
}

body {
	margin: 0;
	overflow: hidden;
	width: var(--screen-width);
	height: var(--screen-height);
}

#app {
	font: normal 1em/1 Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #222;
	color: #fff;
	width: var(--screen-width);
	height: var(--screen-height);
	display: grid;
	grid-template: var(--title-height) 1fr/-webkit-min-content 1fr;
	grid-template: var(--title-height) 1fr/min-content 1fr;
	grid-template-areas: "header header" "nav view"
}

header {
	grid-area: header;
	background: var(--primary);
	line-height: var(--title-height);
	font-size: calc(var(--title-height)*0.55);
	text-align: center
}

header:before {
	content: "\2B21";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	display: inline-block;
	font-family: monospace
}

nav {
	background-color: hsla(0, 0%, 100%, .1);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	grid-area: nav
}

nav :last-child {
	margin-top: auto
}

nav button {
	background: transparent;
	opacity: .4
}

.view {
	display: grid;
	grid-template: 1fr/1fr -webkit-min-content;
	grid-template: 1fr/1fr min-content;
	grid-template-areas: "main aside"
}

.mt {
	margin-top: calc(var(--margin)*2)
}

main {
	grid-area: main;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center
}

aside,
main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: var(--margin)
}

aside {
	grid-area: aside;
	background-color: hsla(0, 0%, 100%, .1)
}

.grid{
	display: grid;
	grid-template: repeat(3, -webkit-min-content)/repeat(3, -webkit-min-content);
	grid-template: repeat(3, min-content)/repeat(3, min-content)
}

.grid button:first-child {
	grid-column: 1;
	grid-row: 1;
}

.grid button:nth-child(2)
{
	grid-column: 3;
	grid-row: 1;
}

.grid button:nth-child(3){
	grid-column: 2;
	grid-row: 2;
}

.grid button:nth-child(4) {
	grid-column: 1;
	grid-row: 3;
}

.grid button:nth-child(5) {
	grid-column: 3;
	grid-row: 3;
}

.grid button:nth-child(6) {
	grid-column: 2;
	grid-row: 3;
}

.grid2{
    display:grid;
    grid-template:repeat(2,-webkit-min-content)/repeat(2,-webkit-min-content);
	grid-template:repeat(2,min-content)/repeat(2,min-content);
	
}

.grid2 button{
	font-size: 9vh;
}

.grid2 button:first-child{
	grid-column:2
}



#preview {
	position: relative;
	width: 100%;
	height: 100%;
	background: #fff
}

#preview canvas,
#preview img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	-o-object-fit: contain;
	object-fit: contain
}

.input {
	height: var(--button-size);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: .05em;
	border: .05em solid hsla(0, 0%, 100%, .2);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin: var(--margin);
	font-size: calc(var(--button-size)*0.8)
}

.input,
.input label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.input label {
	background: hsla(0, 0%, 100%, .2);
	padding-left: .25em;
	font-family: monospace
}

.input label:after {
	content: "=";
	padding: 0 .25em
}

.input input {
	background: transparent;
	border: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	font: inherit;
	font-size: .7em;
	padding-left: .3em;
	color: inherit;
	-webkit-appearance: none;
	outline: none
}

.input input:focus {
	background-color: hsla(0, 0%, 100%, .1)
}

.buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column
}

.dragover{
	opacity:0.5;
}

#view_move {
	visibility: hidden;
	border-color: green;
	display:none;
}

#view_settings {
	visibility: hidden;
	border-color: red;
	display:none;
}
#view_progress {
	visibility: hidden;
	border-color: blue;
	display:none;
}
#view_folder {
	visibility: hidden;
	border-color: green;
	display:none;
}
#aside_move {
	visibility: hidden;
	border-color: green;
	display:none;
}
#aside_settings {
	visibility: hidden;
	border-color: green;
	display:none;
}

.on {
	visibility: visible !important;
	display:grid !important;
}

.act {
	opacity:1;
	font-weight: bold;
}

#view_progress {
	position: relative;
}
#view_progress div {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
}
#view_progress img,
#view_progress canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
	height: 100%;
  object-fit: contain;
}

/*
#positionCanvas {
	position:absolute;
	top:10vh;
	left:15vw;
	z-index:10
}
#progressCanvas {
	position:absolute;
	top:10vh;
	left:15vw;
	z-index:5
}
#originCanvas {
	position:absolute;
	top:10vh;
	left:15vw;
	z-index:0
}
*/

.disconnected{
	color:red !important;
}
.rebooting{
	color:orange !important;
}
.connected{
	color:green !important;
}

.up {
	border-color: red !important;
	border:5px solid red;
}
.down {
	border-color: green !important;
	border:5px solid green;
}

#connection{
	color:lightgray;
    display: block;
    position: absolute;
    left: 30%;
    top: 18%;
    text-align: center;
}

#percentage{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10vw;
    height: 10vw;
    top: 80%;
    left: 27%;
}